<div class="container">
  <div class="card-container">
    <div class="card-header">
      <h1 class="title">{{academyName}}</h1>
      <div class="button-wrapper">
        <button (click)="handleClick()" type="button" class="btn-create-course">Create New Course</button>
        <a [href]="'https://' + publicId + '.academy.veryown.in'" class="btn-view-course">Go to Public View</a>
      </div>
    </div>
  </div>

  <div class="course-container mt-3">
    <div class="course-grid">
      <div class="course-item" *ngFor="let course of courses">
        <div class="course-card">
          <img [src]="course.imageUrl" class="course-img" alt="Course image">
          <div class="course-body">
            <h5 class="course-title">{{ course.courseName }}</h5>
            <p class="course-text">{{ truncateText(course.headline, 35) }}</p>
            <button disabled class="btn-edit-course">Edit Course</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
