.card {
    border-radius: 0.5rem;
  }
  
  .card-body {
    text-align: center;
  }
  
  .card-title {
    font-weight: bold;
  }
  
  .display-4 {
    font-size: 2.5rem;
    font-weight: 300;
  }
   
  .academy_color_secondary{
    color: white;
    background:rgb(86, 171, 255);
  }