<div class="container mt-4">
  <div class="container-fluid bg-success text-white py-4">
    <div class="container">
      <h1 class="display-4 text-center">{{academyName}}</h1>
    </div>
  </div>
  <div class="d-flex justify-content-end">
    <button (click)="handleClick()" type="button" class="btn academy_color_secondary mt-4 mb-4 text-right">create new
      course</button>

  </div>

  <div class="container mt-5">
    
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-md-4" *ngFor="let course of courses">
            <div class="card mb-4">
              <img [src]="course.imageUrl" class="card-img-top" alt="Course image">
              <div class="card-body text-center">
                <h5 class="card-title">{{ course.courseName }}</h5>
                <p class="card-text">{{ truncateText(course.headline, 50) }}</p>
                <a href="#" class="btn btn-success">View course</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



</div>