<div *ngIf="loading; else loadedContent" class="loading-container">
  <div class="loading-content">
    <i class="fas fa-spinner fa-spin loading-icon"></i>
    <p class="loading-text">Loading your academies...</p>
  </div>
</div>

<ng-template #loadedContent>

<div class="container mx-auto mt-12 px-4">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">

    <!-- Card 1: Services Enrolled -->
    <div class="bg-blue-100 text-blue-900 p-6 rounded-lg shadow-md">
      <h5 class="text-2xl font-semibold mb-2">Services Enrolled</h5>
      <p class="text-5xl font-bold">{{ enrolledServices.length }}</p>
    </div>

    <!-- Card 2: Total Revenue -->
    <div class="bg-green-100 text-green-900 p-6 rounded-lg shadow-md">
      <h5 class="text-2xl font-semibold mb-2">Total Revenue</h5>
      <p class="text-5xl font-bold">${{ totalRevenue | number:'1.0-2' }}</p>
    </div>

    <!-- Card 3: Create New Service -->
    <div class="bg-white p-6 rounded-lg shadow-md border border-gray-300">
      <div class="text-center">
        <h5 class="text-2xl font-semibold mb-4">Create New Service</h5>
        <a routerLink="./all_services" class="inline-flex items-center px-6 py-3 text-lg font-medium text-white bg-teal-600 rounded-full shadow-md hover:bg-teal-700 transition duration-150">
          <i class="bi bi-plus-circle mr-2 text-xl"></i> View all services
        </a>
      </div>
    </div>

  </div>

  <div class="bg-gray-50 shadow-lg rounded-lg p-6 max-w-3xl mx-auto mt-12">
    <h2 class="text-3xl font-bold text-gray-900 mb-6 border-b pb-2 border-gray-200">Enrolled Services</h2>
  
    <div *ngIf="enrolledServices.length > 0; else noServices">
      <ul class="divide-y divide-gray-200">
        <li *ngFor="let service of enrolledServices" class="flex justify-between items-center py-4 px-6 rounded-lg hover:bg-gray-100 transition-colors duration-300">
          <div class="flex items-center space-x-4">
            <div class="w-12 h-12 bg-green-500 text-white rounded-full flex items-center justify-center text-lg font-semibold">
              {{ service === 'academy' ? 'A' : '' }}
            </div>
            <span class="text-lg font-medium text-gray-800">{{ service === 'academy' ? 'Academy Service' : '' }}</span>
          </div>
          <a
            href="https://academy.admin.veryown.in/dashboard" 
            class="bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600 transition-colors duration-300"
          >
            Visit
          </a>
        </li>
      </ul>
    </div>
  
    <ng-template #noServices>
      <div class="text-gray-600 text-center mt-6">
        <p class="text-lg">You are not enrolled in any services at the moment.</p>
      </div>
    </ng-template>
  </div>
  
  
</div>
</ng-template>