<div class="create-course-container">
  <h2 class="title">Create a New Course</h2>

  <div class="form-group">
    <label for="courseTitle">Course Title:</label>
    <input id="courseTitle" class="form-input" [(ngModel)]="course.title" required>
  </div>

  <div class="form-group">
    <label for="courseHeadline">Course Headline:</label>
    <input id="courseHeadline" class="form-input" [(ngModel)]="course.headline" required>
  </div>

  <div class="form-group">
    <label for="courseDescription">Course Description:</label>
    <textarea id="courseDescription" class="form-input" rows="3" [(ngModel)]="course.description" required></textarea>
  </div>

  <h3 class="sections-title">Sections</h3>

  <div *ngFor="let section of course.sections; let i = index" class="section-card">
    <h4 class="section-header">Section {{i + 1}}</h4>

    <div class="remove-section">
      <button class="btn-remove-section" (click)="removeSection(i)">Remove Section</button>
    </div>

    <input style="margin-top: 20px;" class="form-input section-title" [(ngModel)]="section.title" placeholder="Section Title" required>

    <h5  style="margin-top: 20px;" class="lectures-title">Lectures</h5>

    <div style="margin-top: 20px;" *ngFor="let lecture of section.lectures; let j = index" class="lecture-card">
      <input class="form-input lecture-title" [(ngModel)]="lecture.title" placeholder="Lecture Title" required>
      <input style="margin-top: 20px;" type="file" class="form-input lecture-url" [(ngModel)]="lecture.url" placeholder="Lecture URL" required>
      <button style="margin-top: 20px;" class="btn-remove-lecture" (click)="removeLecture(i, j)">Remove Lecture</button>
    </div>

    <button class="btn-add-lecture" (click)="addLecture(i)">Add Lecture</button>
  </div>

  <button class="btn-add-section" (click)="addSection()">Add Section</button>

  <div class="submit-container">
    <button class="btn-submit" (click)="createCourse()" [disabled]="!isValid()">Create Course</button>
  </div>
</div>
