a {
  text-decoration: none !important;  
  color: inherit; /* Use the color of the parent element */
  cursor: pointer;
}

.profile-header{
  background-color:rgb(248, 248, 248);
  border-bottom: 1px solid #ccc;
}
 .content{
  display: flex;
  justify-content: center;
  align-items: center; 
 }