<div style="display: flex; justify-content: center;align-items: center;">
  <!-- First Card -->
  <div class="col-3 card" style="width: 18rem;">
    <img height="250" src="https://img.freepik.com/free-vector/hand-drawn-high-school-logo-design_23-2149667303.jpg" class="card-img-top">
    <div class="card-body text-center"> <!-- Center the content -->
      <h5 class="card-title"><b>Academy Service</b></h5>
      <p class="card-text">Create your own Udemy like teaching academy</p>
      <a class="btn btn-primary" routerLink="/academy/create">Create Service</a>
    </div>
  </div>

   <div class="col-3 card" style="width: 18rem; opacity: 0.5; pointer-events: none;">
    <img height="250" src="https://media.istockphoto.com/id/1319815121/vector/live-stream-sign-live-broadcast-button-for-blog-player-broadcast-website-online-radio-media.jpg?s=612x612&w=0&k=20&c=V8PRnbVnluFz3fV_edAsKkVHVqsm5dNAc5JRDDKhl6M=" class="card-img-top">
    <div class="card-body text-center"> <!-- Center the content -->
      <h5 class="card-title"><b>Streaming Service</b></h5>
      <p class="card-text">Create your own Netflix like streaming service</p>
      <a href="#" class="btn btn-primary">Create Service</a>
    </div>
  </div> 

<div class="col-3 card" style="width: 18rem; opacity: 0.5; pointer-events: none;">
  <img height="250" src="https://png.pngtree.com/png-clipart/20200727/original/pngtree-e-commerce-logo-template-png-image_5066821.jpg" class="card-img-top">
  <div class="card-body text-center"> <!-- Center the content -->
    <h5 class="card-title"><b>Ecommerce Service</b></h5>
    <p class="card-text">Create your own Amazon like Ecommerce service</p>
    <a href="#" class="btn btn-primary">Create Service</a>
  </div>
</div>
</div>


