.card {
    margin: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }
  
  .card-img-top {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
  .admin_color_primary{
    color: white;
    background:cadetblue;
}
