<div class="container my-5">
  <div class="row justify-content-center">
    <!-- First Card -->
    <div class="col-md-4 mb-4">
      <div class="card h-100 p-3">
        <img  src="assets/489009b4069a4917ad9597bc26c0abd9-free-transformed.png" class="card-img-top" alt="Academy Service">
        <div class="card-body text-center">
          <h5><b>Academy Service</b></h5>
          <p class="card-text">Create your own Udemy-like teaching academy</p>
          <a (click)="createService('http://academy.admin.veryown.com:4200/academy/create')" class="btn admin_color_primary" routerLink="/services/academy/create">Create Service</a>
        </div>
      </div>
    </div>

    <!-- Second Card (Disabled) -->
    <div class="col-md-4 mb-4">
      <div class="card h-100 p-3" style="opacity: 0.5; pointer-events: none;">
        <img  src="assets/9cd1554cdd714a4ca2b3c227c384482b-free-transformed.png" class="card-img-top" alt="Streaming Service">
        <div class="card-body text-center">
          <h5><b>Streaming Service</b></h5>
          <p class="card-text">Create your own Netflix-like streaming service</p>
          <a href="#" class="btn admin_color_primary">Create Service</a>
        </div>
      </div>
    </div>

    <!-- Third Card (Disabled) -->
    <div class="col-md-4 mb-4">
      <div class="card h-100 p-3" style="opacity: 0.5; pointer-events: none;">
        <img src="assets/84998c35938e4f7ebaefd045cb22c0d7-free.png" class="card-img-top" alt="Ecommerce Service">
        <div class="card-body text-center">
          <h5 class="card-title"><b>Ecommerce Service</b></h5>
          <p class="card-text">Create your own Amazon-like Ecommerce service</p>
          <a class="btn admin_color_primary">Create Service</a>
        </div>
      </div>
    </div>
  </div>
</div>
