::ng-deep .ng-select {
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 245px;
  }
  
  ::ng-deep .ng-select .ng-select-container {
    background-color: #f9f9f9;
  }
  
  ::ng-deep .ng-select .ng-select-container .ng-value {
    color: #333;
  }
  
  .sticky-navbar {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    z-index: 1000; /* Adjust as needed */
    background-color: #fff; /* Adjust as needed */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional shadow */
}
