<nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding: 10px;">
    <div class="col-12 p-3" style="display: flex; justify-content: space-between;">
        <div class="col-12" style="display: flex;  justify-content: space-between;">
            <div >
                <a  [routerLink]="['/']"><img class="navbar-brand" src="assets/veryown-admin.png" ></a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
        <!-- <div class="col-2" style="display: flex; align-items: center;justify-content: center;"> 

            <ng-select [clearable]="false" [items]="appService.options" bindLabel="name" bindValue="id"
                [(ngModel)]="appService.selectedOption" (change)="onChange($event)" placeholder="Select a service">
            </ng-select>
        </div> -->
    </div>
</nav>